@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Montserrat&display=swap");
body {
  background: #f9f9f9;
  font-family: 'Kosugi', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }
