@charset "utf-8";


@import "reset";


/* ここから */
body {
  color: #000;
  font-size: 16px;
}

h1 {
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #eee;
}
#app {
  padding-top: 20px;
  margin: auto;
  width: 90%;
  h2 {
    padding-left: 10px;
  }
  p {
    padding-left: 10px;
  }
  ul {
    li {
      list-style: none;
      display: inline-block;
      padding: 10px;
      width: 120px;
    }
  }
}