<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Yumemi Task(develop)</title>
</head>
<body>
  <h1>総人口推移グラフ</h1>
  <div id="app">
    <h2>都道府県<span>[ひとつだけcheckしてください(未完成)]</span></h2>
    <!-- (test)取得した都道府県APIデータの表示 -->
    <!-- {{ this.prefectures }} -->

    <ul>
      <li v-for="pref in prefectures">
          <!-- <input type="checkbox" v-bind:value="pref.prefCode"　v-model="checked" @change="getPopulation1Data()">&nbsp;<span>{{ pref.prefName }}</span><br> -->
          <input type="checkbox" v-bind:value="pref.prefCode"　v-model="checked" @change="createChart()">&nbsp;<span>{{ pref.prefName }}</span><br>
      </li>
    </ul>
    <p>選択中の都道府県</p>
    <p>{{ checked }}</p>
    <p>一つ目の人口推移データ</p>
    <!-- エラーメッセージ:Error in render: "TypeError: Cannot read property 'this.checked[0] -1' of null" -->
    <!-- checkしていない時nullになる．一旦放置します -->
    <p>{{ this.prefectures[this.checked[0] -1] }}</p>
    <p>{{ this.population }}</p>

      <!-- グラフ作成 -->
    <canvas id="my_chart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- 【Vue.js】axiosを用いWebAPIからデータの取得の仕方【メモ】 -->
  <!-- https://qiita.com/ckjets/items/9f3e31f2bd7595af13a3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>